.login{
  width: 450px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  flex-direction: column;
  font-size: 20px;
  font-weight: 500;
  border: 1px solid black;
  border-radius: 20px;
  background-color: rgb(52, 51, 60);
  box-shadow: 3px 3px 1px rgba(76, 85, 95, 0.612);
  color: rgba(255, 255, 255, 0.507);
}
.login-user{
  font-size: 30px;
}
.login-registration{
  display: flex;
  gap: 15px;
}
.login input{
  background-color: rgba(138, 145, 147, 0.205);
  color: rgba(13, 13, 14, 0.911);
  font-weight:500;
}
.btn{
  color: black;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  padding: 8px 20px;
  cursor: pointer;
  background-color: rgba(87, 85, 85, 0.616);
}
.login-form{
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 20px;
  column-gap: 15px
}
.flex{
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: center ;
}
.loggin-btn-container{
  display: flex;
  justify-content: center;
  grid-column-start: 1;
  grid-column-end: 3;
}

.table{
  background-color: azure;
}